<!doctype html>
<html>
  <head>
    <title>Machine Learning Formulas</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>Machine Learning Formulas</h1>

    <hr />

    <h2>Linear Regression Equation</h2>

    <h3>Y = mX + c</h3>

    <p><b>Y</b> = Predicted Value</p>
    <p><b>X</b> = Input Variable</p>
    <p><b>m</b> = Slope</p>
    <p><b>c</b> = Intercept</p>

    <hr />

    <h2>Mean Squared Error (MSE)</h2>

    <h3>MSE = (1/n) × Σ(y − ŷ)²</h3>

    <hr />

    <h2>Mean Absolute Error (MAE)</h2>

    <h3>MAE = (1/n) × Σ|y − ŷ|</h3>

    <hr />

    <h2>Root Mean Squared Error (RMSE)</h2>

    <h3>RMSE = √MSE</h3>

    <hr />

    <h2>R² Score</h2>

    <h3>R² = 1 − (SSR / SST)</h3>

    <br /><br />

    <a href="/">⬅ Back to Home</a>
  </body>
</html>
